<!-- Header section -->
<header class="bg-gray-900 text-white">
  <div class="flex items-center justify-between max-w-7xl mx-auto p-4">
    <!-- Logo -->
    <div class="flex items-center">
      <img src="https://redgame.dev/_next/image/?url=%2Fimages%2Fprofile.webp&amp;w=640&amp;q=75" class="w-8 h-8 mr-4 rounded-full" alt="Logo">
      <h1 class="text-lg font-bold">TheGame</h1>
    </div>

    <!-- Balance -->
    <div class="flex items-center">
    </div>
    <!-- Balance -->
    <div class="flex items-center">
      <p class="mr-4">Balance:</p>
      <p class="text-xl font-bold">{{ currencySymbol$ | async }} {{ balance$ | async }}</p>
    </div>
  </div>
</header>

<!-- Main content section -->
<main class="max-w-7xl mx-auto px-4 md:px-8 py-8">
<router-outlet></router-outlet>
</main>

<!-- Footer section -->
<footer class="bg-gray-800 text-white">
  <div class="max-w-7xl mx-auto py-4 px-4 md:flex justify-between items-center">
    <div class="text-center md:text-left">
      <p>&copy; {{ currentYear }} TheGame. All rights reserved.</p>
    </div>
    <div class="mt-4 md:mt-0">
      <a href="#" class="ml-4 hover:text-gray-300">About</a>
      <a href="#" class="ml-4 hover:text-gray-300">Contact</a>
      <a href="#" class="ml-4 hover:text-gray-300">Privacy Policy</a>
    </div>
  </div>
</footer>
